<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="true"/>

  <!-- CONTROLLER -->
  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <!-- MOVE IT -->
  <include file="$(find panda_moveit_config)/launch/panda_moveit.launch" />  

  <!-- RVIZ -->
  <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" />

  <!-- Data collection server -->
  <!-- <node name="generate_data_sample" type="generate_data_sample.py" pkg="data_collection" /> -->

  <!-- Data collection client -->
  <!-- <node name="collect_dataset" type="collect_dataset.py" pkg="data_collection" /> -->

</launch>
